.top__posts {
          background: #f8f9fa;
          padding: 5px;
          .categories {
                    margin: 5px 0;
                    transition: opacity .3s ease-in-out;
                    &.blocked {
                              opacity: .8;
                              pointer-events: none;
                    }
                    .category {
                              width: max-content;
                              button {
                                        outline: none;
                                        background: #fff;
                                        color: #212529;
                                        padding: 5px 10px;
                                        border: 1px solid #ddd;
                                        border-radius: 10px;
                                        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
                                        &.active {
                                                  color: #007BFF;
                                                  background: #ced8e6;
                                        }
                                        &:hover, &:focus {
                                                  background: #dcdcdc;
                                        }
                              }
                    }
          }
          .posts {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(2, 293px);
                    grid-gap: 20px;
                    transition: opacity .3s ease-in-out;
                    &.blocked {
                              opacity: .8;
                              pointer-events: none;
                    }
          }
}